[package]
name = "loghell"
version = "2.0.0"
edition = "2021"

[dependencies]
tokio = { version = "1.20.0", features = ["net", "io-util", "macros", "rt-multi-thread", "signal", "sync", "time"] }
log = "0.4.17"
env_logger = "0.9.0"
regex = "1.6.0"
serde = "1.0.140"
serde_yaml = "0.8.26"
serde_json = "1.0.82"
tantivy = "0.18.0"
uuid = { version = "1.1.2", features = ["v4", "fast-rng"] }

[features]
nonsense_find_v1 = []
nonsense_find_v2 = []
