[package]
name = "loghell"
version = "2.0.0"
edition = "2021"

[dependencies]
tokio = { version = "1.20.1", features = ["net", "io-util", "macros", "rt-multi-thread", "signal", "sync", "time"], default-features = false }
tracing = { version = "0.1.35", features = [], default-features = false }
tracing-subscriber = { version = "0.3.11", features = ["fmt", "env-filter", "ansi"], default-features = false }
fastrand = { version = "1.8.0", default-features = false }
sled = { version = "0.34.7", default-features = false }
byteorder = { version = "1.4.3", default-features = false }
zerocopy = { version = "0.6.1", default-features = false }
# TODO: Use features explicity. Turn off default features.
regex = "1.6.0"
serde = "1.0.140"
serde_yaml = "0.9.0"
serde_json = "1.0.82"
tantivy = "0.18.0"
uuid = { version = "1.1.2", features = ["v4", "fast-rng"] }

[features]
default = ["nonsense_find_v1"]
nonsense_find_v1 = []
nonsense_find_v2 = []
