[package]
name = "loghell"
version = "2.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.14", features = ["net", "io-util", "macros", "rt-multi-thread", "signal", "sync", "time"] }
log = "0.4"
env_logger = "0.9"
regex = "1"
serde = "1.0"
serde_yaml = "0.8"
serde_json = "1"
tantivy = "0.16"
