version: '3.7'

services:
  loghell:
    container_name: loghell
    build: .
    image: loghell
    ports:
      - $TCP_PORT:3031
      - $WS_PORT:3032
      - $HTTP_PORT:3033
    env_file:
      - .env
    networks:
      - default

networks:
  default:
    name: loghell
